*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
img{
    width: 100%;
}
body,html{
    background-image: linear-gradient(to right, #5f72bd, #6069cf, #6b5cdd, #8049e6, #9b23ea);
}
.logo{
    width: 200px;
}
.display-3{
    font-weight: 500;
}
.fa-facebook-f:before{
    font-size:2rem;
}
.fa-instagram::before{
    font-size: 2rem;
}
.fa-twitter{
    font-size: 2rem;
}
.fa-youtube{
    font-size: 2rem;
}

.card-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.card{
    background: transparent;
    border: none;
}
.form-control{
    background: transparent;
}
.form-control::placeholder{
    color:white
}
.navbar-collapse{
    flex-grow: 0;
}
